
<style>
{% block style %}
    .item-container{
        margin: auto;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: purple;
    }

    .concept-example{
        background-color: green;
        display:flex:
        flex-direction: row;
    }

    .code-boxes-container{
        display: flex;
        justify-content: space-around;
    }

    .code-box {
        background-color: #282c34;
        color: #abb2bf;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 60%;
        max-width: 600px;
        overflow-x: auto; /* Enable horizontal scrolling for long lines */
    }

     .code-box-title{
        padding: .5rem 1rem;
        border: .1rem solid #abb2bf;
     }

     .code{
         padding: .5rem 1rem
      }

      .code-box code {
          font-family: monospace;
          font-size: .9rem;
          line-height: 1.5;
       }

{% endblock %}

</style>

{% block concept %}
<div id={{concept_id}} class="concept-container">
    <div class="concept-description-container" >
        <h2>{{ concept_title }}</h2>
        <h4>Characteristics</h4>

        <ul>
          {% for item in characteristic_list: %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>

        <p>{{ more_concept_info }}</p>
    </div>

    <section class="concept-example-container">
        <h4>Example: {{ example_description }}</h4>
        <div class="code-boxes-container" >
            <div class="code-box">
                <div class="code-box-title">HTML</div>
                <div class="code">
                    <code>
                        {{ block_html }}
                    </code>
                </div>
            </div>

            <div class="code-box">
                <div class="code-box-title">CSS</div>
                <div class="code">
                    <code>
                        {{ block_css_element }}{<br>
                        &nbsp;&nbsp;{{ block_css_property }}<br>
                        }
                    </code>
                </div>
            </div>

        </div>
    </section>
</div>

{% endblock %}