{% extends "./base/base.html" %}
{% block title %}CSS{% endblock %}

{% block sidebar %}
    {% set lang_name = "CSS" %}
    {% set lang_concept_1 = "The Box Model" %}
    {% set lang_concept_2 = "The Cascade" %}
    {% set lang_concept_3 = "Inheritance" %}
    {% set lang_concept_4 = "Specificity" %}
    {% set lang_concept_5 = "Selectors" %}
    {% set lang_concept_6 = "Display Property" %}
    {% set lang_concept_7 = "Positioning" %}
    {% include "sidebar.html" %}
{% endblock %}

{% block menu %}
    {% include "main_menu.html" %}
{% endblock %}

{% block content %}
  <h1>CSS</h1>
    <ul>
        <li>stands for Cascading Style Sheets</li>
        <li>defines how HTML elements should be displayed on a web page</li>
        <li>controls aspects such as layout, typography, visuals and responsiveness</li>

    </ul>
{% endblock %}