<style>
        #sidebar {
          width: 10rem;
          background-color: grey;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }

        #sidebar-content{
            padding: 2rem;
        }

        #sidebar-logo{
        height: 70px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }

        .logo{
            width: 5rem;
        }

        #sidebar h2 {
          margin-top: 0;
        }

        #sidebar a {
          color: #333;
          display: block;
          margin-bottom: 10px;
          text-decoration: none;
        }
        #sidebar a:hover {
          text-decoration: underline;
        }
</style>


<div id="sidebar">
    <div id="sidebar-logo" >
        <a href="{{ url_for('home')}}">
            <img class="logo" src="static/images/fe-code-logo.png">
        </a>
    </div>
    <div id="sidebar-content" >
        <h2>{{lang_name}}</h2>
        <a href="#">Backgrounds</a>
        <a href="#">Display</a>
        <a href="#">Settings</a>
    </div>
</div>